.sui-avatar {
    margin: auto;
}

.sui-avatar img {
    border-radius: 999px;
}

.is-link {
    text-decoration: underline;
}

.creator-image {
    background-image: url("http://placehold.it/1440x460?text=AWESOME");
}

.not-ready-image {
    background-image: url("http://placehold.it/1440x460?text=What a Shame");
}