body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.sui-avatar {
    margin: auto;
}
.sui-avatar img {
    border-radius: 999px;
    padding: 5px;
    border: 1px solid #dbdbdb;
}
.is-link {
    text-decoration: underline;
}
.hand-written{
    font-family: "Amatic SC", cursive;
    font-size: 22px;
}