.is-outlined {
    background-color:transparent;
    color:#fff;
}
.hero-cta {
    padding: 30px 0;
}
.panel-block.section p {
    font-size: 17px;
    line-height: 1.4;
    color:#95A5A6;
}
.icon-block {
    font-size:5em;
}