<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="utf-8"/>

    <title>Love it</title>

    <meta name="viewport" content="width=device-width,minimum-scale=1"/>
    <meta name="google-site-verification" content="VXBRnbM3Jh54uR-jHjoHSrmu0UM78IKma7FDtydCPnk"/>
    <meta name="description" content="Love.it microtips platform"/>
    <meta name="keywords" content="donation,microtip,microdonation"/>

    <link rel="canonical" href="https://loveit.tips"/>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>

    <script>
      //<![CDATA[
      window.webpackManifest = { /* contents of chunk-manifest.json */ };
      //]]>
    </script>

    <script>
      function configureSentry() {
        if (location.hostname !== "localhost") {
          Raven.config('https://9135be526dd647ab9aaff18d0871fc82@sentry.io/197694').install();
        }
      }
    </script>
    <script type="text/javascript" src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous" onload="configureSentry()"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5a93e451d7591465c70804d2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->

</head>
<body>
    <div id="app">
    </div>

    <noscript>
        Your browser does not support JavaScript! We have no offline version so far
        <div style="display:none;">
            <img src="//pixel.quantserve.com/pixel/p-7vP8g9XSPrnMP.gif" border="0" height="1" width="1" alt="Quantcast"/>
        </div>
    </noscript>

</body>
</html>
